.heading{
    font-weight: 700;
    font-size: 24px;
    margin: 3% 10%;
}

.line{
	 border: none;
    background-color: #C4C4C4;
    color: #C4C4C4;
    height: 2px;
}

.form{
    padding: 0 10%;
    margin-top: 4%;
    margin-bottom: 5%;
}

.form_inputs{
    margin-bottom: 1%;
}
