.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0, 0.3);
    display: none;
    overflow: auto;
}

.modalContent {
    width: 60%;
    padding: 2%;
    background: #F6F6F6;
    border-radius: 16px;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}